.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    max-width: 100%;
    height: 500px;
    /* border: 1px solid; */
}

.textContainer {
    order: 1;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titleText {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primaryBlue);
}

.heading {
    font-size: 3rem;
    font-weight: bold;
}

.description {
    font-size: 1rem;
    font-weight: normal;
}

.statsContainer {
    display: flex;
    direction: row;
    justify-content: space-between;
    text-align: center;
}

.count {
    font-size: 2rem;
    color: var(--primaryBlue);
    padding-bottom: 8px;
}

.title {
    font-size: 1rem;
}

.imgContainer {
    order: 2;
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }

    .heading {
        font-size: 2rem;
        font-weight: bold;
    }

    .count {
        font-size: 1rem;
    }

    .textContainer {
        width: 100%;
    }

    .imgContainer {
        width: 100%;
        display: none;
    }
}