:root {

  --bg: #1B2631;
  /* #17202A */
  /*  */
  --textColor: #ffffff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg);
  color: var(--textColor);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: #17202A;
  width: 1536px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 2.5rem;
}