.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}


.textContainer {
  order: 1;
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 7rem;
  font-weight: bold;
}

.description {
  font-size: 24px;
  font-weight: normal;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.learnMoreBtn {
  font-size: 16px;

}

.btn {
  font-size: 16px;
  padding: 16px;
  width: 150px;
  border-radius: 6px;
  border: none;
  font-weight: 600;

}

.btn:first-child{
  background: #2e74fd;
  color: white;
}

.imgContainer {
  order: 2;
  flex-grow: 1;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImg {
  width: 500px;
  height: 500px;
}

.brands {
  width: 500px;
  height: 50px;
}